
#commentPopUpContainer {
  visibility: hidden;
  position: fixed;
  background-color: white;
  width: 33vw;
  height: 25vh;
  border: solid;
  left: 33.5vw;
  top: 37.5vh;
  bottom: 37.5vh;
  overflow: auto;
}

#commentPopUpContainer.open {
  visibility: visible;
}

.wrapper {
  padding: 0% 10%;
}

.postWrap {
  border: dotted;
}
.postRubrik {
  padding-bottom: 0px;
  margin: 0px;
  text-align: center;
}
.postText {
  padding: 2%;
  margin-top: 0px;
  text-align: center;
}
.commentWrap {
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 2px;
  margin-right: 5%;
}
.commentText {
  word-break: break-all;
  padding: 0.5%;
  margin-bottom: 0;
}

.replybtn {
  font-size: 150%;
  text-decoration: none;
  padding: 0px 2% 0px ;
  text-align: right;
}
